 
/* ==================== Fonts =========================*/
@font-face {
  font-family: 'Clip';
  src: url("./font/Clip.ttf");
 }
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(./font/NanumSquareR.eot);
  src: url(./font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumSquareR.woff) format('woff'),
       url(./font/NanumSquareR.ttf) format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(./font/NanumSquareB.eot);
  src: url(./font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumSquareB.woff) format('woff'),
       url(./font/NanumSquareB.ttf) format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(./font/NanumSquareEB.eot);
  src: url(./font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumSquareEB.woff) format('woff'),
       url(./font/NanumSquareEB.ttf) format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(./font/NanumSquareL.eot);
  src: url(./font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumSquareL.woff) format('woff'),
       url(./font/NanumSquareL.ttf) format('truetype');
 }
 

/* ==================== common css ==================== */
  a {
    text-decoration:none;
  }
  img {
    border: 0 none;
  }
  fieldset{
    border: 0 none;
  }
  button {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5rem;
      color: #444;
      word-break: keep-all;
      word-wrap: break-word;
  }
  /* ==================== color css ==================== */
  .red-text {
    color:#D50000;
  }
  /* ==================== header css ==================== */
  header{
    position: fixed;
  }
  .headerTitle{
    display: flex;
    font-size: max(min(5vw, 25px), 15px);
    font-weight: bold;
  }
  .headerTitlex{
    font-size:max(min(3vw, 15px), 9px);
    margin-right: max(min(1vw, 5px), 3px);
  }
  .headerOrg{
    text-shadow: 0px 1px 5px white, 0px -1px 5px white, 1px 0px 5px white, -1px 0px 5px white; 
  }
  .headerfunc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .search_hidden{
    opacity: 0;
    width: 1px;
  }
  .search_show{
    opacity: 1;
    width: 25vw;
    max-width: 500px;
  }
  /* ==================== main image ==================== */
  .main_image{
    display: inline-flex;
    justify-content: space-around;
    height: 100vh;
    background-color: black;
    width: 100vw;
  }
  .potato_img {
    margin: 8vh 1vw 8vh 30%;
    width: auto;
    height: calc(-16vh + 400px);
    border-style: none;
  }
  .word_img {
    margin:22vh 30% 8vh 1vw;
    width: auto;
    height: calc(-30vh + 400px);
    border-style: none;
  }
  /* ==================== color css ==================== */
  /* ==================== transition css ==================== */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }